
body {
    text-align: center; 
    width: 90%; 
    background-color: #ffffff; 
    border-radius: 25px; 
    padding: 5%
}

.graph {
    width: 100%; 
    order: 1px solid lightgray;
    background-color: #282828;
    /* height: 700px;
    vertical-align: middle;
    text-align: center;
    line-height: 100px; */
}